@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #222222
}
.outer {
    width: 100%;
}
.container {
	margin: 0 auto !important;
}
table {
	table-layout: inherit;
	width: 100%;
}
table.centered {
	margin-left:auto; 
    margin-right:auto;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif !important;
	font-weight: 700 !important;
}
h1 {
	font-size: 32px;
	margin: 0px;
	padding: 0px;
}
h2 {
	font-size: 22px;
	margin: 25px 0px 0px;
}
td.home {
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-weight: 700;
	background-color: #E82C0C;
	width: 12%;
}
td.opponent {
	width: 32% !important;
}
td.away {
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-weight: 700;
	background-color: #1B51B5;
	width: 12%;
}
td.versus {
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-weight: 700;
	background-color: #666666;
	width: 12%;
}
.btn {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #ffffff;
	font-family: 'Oswald', sans-serif;
  font-size: 24px;
  background: #36B824;
  padding: 20px 50px;
  text-decoration: none;
	margin: 20px 0px 30px;
}

.btn:hover {
  background: #FFC50B;
  text-decoration: none;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.container {
	margin: 0 auto !important;
    max-width: 90% !important;
}
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.container {
	margin: 0 auto !important;
    max-width: 90% !important;
}
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	.container {
	margin: 0 auto !important;
    max-width: 90% !important;
}
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
	.container {
	margin: 0 auto !important;
    max-width: 90% !important;
}
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
.container {
	margin: 0 auto !important;
    max-width: 90% !important;
}
}



/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.container {
	margin: 0 auto !important;
    max-width: 90% !important;
}
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	.container {
	margin: 0 auto !important;
    max-width: 80% !important;
}
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.container {
	margin: 0 auto !important;
    max-width: 80% !important;
}
}


/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.container {
	margin: 0 auto !important;
    max-width: 80% !important;
}
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
	  .container {
	margin: 0 auto !important;
    max-width: 80% !important;
}
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
	  .container {
	margin: 0 auto !important;
    max-width: 80% !important;
}
}
